{% extends "detail.html" %}




{% block style %}
	{% load staticfiles %}
	{{ block.super }}
	
	.blocklist{
		background-color:beige;
		margin: 0 16em 0 1em;
		min-height:70vh;
		padding:1em;
		box-sizing: border-box;
		position: relative;
	}	
	.object_link{
		height:100%; 
		display: inline-block; 
		width: 99%;
		padding-left:90px;
		box-sizing: border-box;
	}
	.add_button{
		height:50px;
		width:50px;
		background-color:#A0A0A0;
		cursor:pointer;
		position:absolute;
		bottom:15px;right:15px;
		border-radius:25px;
		transition:1s;
		text-align:center;
		line-height:50px;
			
	}
	.add_button:hover{
		background-color:#efcb56;
		box-shadow: 0 0 5px 5px gray;	
	}
	.insert_group{
		z-index:10;
		position:fixed;
		top:30%;
		left:30%;
		background-color:bisque;
		width: 40%; 
		height: 40%;
		opacity:0.1;
		transition:1s;
		padding: 30px 25px;
	}

	.insert_group input, textarea{
		width:100%;
		box-sizing:border-box;
		margin: 5px 0;
		padding:5px;
		border-radius:5px;
		border: 1px solid burlywood;
		outline:none;
		transition:0.4s;
	}
	.insert_group input:focus, textarea:focus{
		border: 1px solid gray;
	}	
	
	.insert_group textarea{
		height:80%;
		z-index:10;
	}
	.mc_btn{
		position:absolute;
		cursor:pointer;
		width:40px;
		height:40px;
		border-radius:50px;
		transition:0.5s;
	}
	.pp_create{
		position:absolute;
		cursor:pointer;
		width:40px;
		height:40px;
		border-radius:50px;
		transition:0.5s;	
		bottom:-10px;
		left:-20px;
		background-color:#4cd64c;
		background-image: url({% static 'images/check.png' %});
		background-size: contain;
	}
	.pp_close{
		position:absolute;
		width:40px;
		height:40px;		
		border-radius:50%;
		cursor:pointer;
		transition:0.5s;
		
		top:-10px;
		right:-10px;
		opacity:0.9;
		background-image: url({% static 'images/cross.png' %});
		background-size: contain;
	}
	.pp_close:hover{
		border-radius:20%;
		background-color:orangered;
		opacity:1;
	}
	.insert_group:hover{
		opacity: 0.9;
	}
	.fon{
		position:fixed;
		left:0;
		top:0;
		bottom:0;
		right:0;
		background-color:gray;
		z-index:5;
		opacity:0.7;
	}

	
{% endblock %}

{% block script %}
	{{ block.super }}
	
	/*!  Elem
	
	*/
	function PopupIntroduce(){
		var inbox = document.createElement('div');
		inbox.className = 'insert_group';
		event.target.parentElement.appendChild(inbox);
		
		var self = this;
		
		
		var backdrop = vom.add(dom.body, 'div','fon');
		vom.add(inbox, 'div', 'pp_close').vs({title:'Закрыть'}).onclick = function(){
			if (confirm("Вы уверены, что не хотите создать группу?")){
				self.Destroy();
			}			
		};
		
		vom.add(inbox, 'div', 'pp_create').onclick = function(){
			var community_creator = new Ajax("{% url 'group' 0 %}", function(){
				
			});
			//community_creator.post
		};		
		
		vom.add(inbox, 'input', '').vs({ 
			placeholder : 'Наименование сообщества',
			name : 'title'
		});
		vom.add(inbox, 'textarea', '').vs({
			placeholder : 'Краткое описание',
			name : 'definition'
		});
		vom.add(inbox, 'input', '').vs({
			type : 'file',
			name : 'logo',
			style : 'display:none;'
		});
		
		
		
		//анимирует плавное появление:
		setTimeout(function()											//вместо requestAnimationFrame
		{									
			inbox.style.opacity = '1';
			inbox.style.transition = '0.6s';
			inbox.querySelector('input').focus();
		}
		, 20);		
		
		
		
		this.Destroy = function(){
		
			inbox.style.opacity = '0';			
			backdrop.style.opacity = '0';
			
			setTimeout(function()											//вместо requestAnimationFrame
			{									
				inbox.parentElement.removeChild(inbox);								//parentNode	
				backdrop.parentElement.removeChild(backdrop);						//parentNode	
			}
			, 600);		
					
		}
		
	}
	

	
	
	
	//insert_group.prototype = PopupIntroduce;
	
	var group_introduce = null;
	function insert_group(event){
		if (event.target.innerText == '+')
		{
			group_introduce = new PopupIntroduce();
			event.target.innerText = '-';
		}
		else
		{
			group_introduce.Destroy();
			event.target.innerText = '+';	
		}
	}

{% endblock %}
{% block main %}
	<ul class='blocklist'>
		{% if object_list|length == 0 %}
			<div style='width:100%;line-height:70vh;text-align:center;'>У вас еще нет групп</div>
		{% endif %}
			
		{% for community in object_list %}
			<li id='{{community.id}}'>
				<a href='{% url "multidialog" dialog.id %}' class='object_link' onclick=''>
				
					{{community.title}}
					
					<img src='{{community.logo.url}}' class='' />
				
				</a>
				
			</li>
		{% endfor  %}
		
		{% csrf_token %}
		
		<div class='add_button' onclick='insert_group(event);'>
			+
		</div>
		
		<div style="z-index: 10; position: fixed; top: 40vh; left: 40vw; background-color: red;"></div>
				
	<ul>		

{% endblock %}


