{% extends "detail.html" %}




{% block style %}
	{% load staticfiles %}
	{{ block.super }}
	

	.pp_create{
		position:absolute;
		cursor:pointer;
		width:40px;
		height:40px;
		border-radius:50px;
		transition:0.5s;	
		bottom:-10px;
		left:-20px;
		background-color:#4cd64c;
		background-image: url({% static 'images/check.png' %});
		background-size: contain;
	}
	.pp_close{
		position:absolute;
		width:40px;
		height:40px;		
		border-radius:50%;
		cursor:pointer;
		transition:0.5s;
		
		top:-10px;
		right:-10px;
		opacity:0.9;
		background-image: url({% static 'images/cross.png' %});
		background-size: contain;
	}
	
{% endblock %}

{% block script %}
	{{ block.super }}
	
	/*!  Elem
	
	*/
	function PopupIntroduce(){
		var inbox = document.createElement('div');
		inbox.className = 'insert_group';
		event.target.parentElement.appendChild(inbox);
		
		var self = this;
		
		
		var backdrop = vom.add(dom.body, 'div','fon');
		vom.add(inbox, 'div', 'pp_close').vs({title:'Закрыть'}).onclick = function(){
			if (confirm("Вы уверены, что не хотите создать группу?")){
				self.Destroy();
			}			
		};
		
		vom.add(inbox, 'div', 'pp_create').onclick = function(){
			var community_creator = new Ajax("{% url 'group' 0 %}", function(){
				
			});
			//community_creator.post
		};		
		
		vom.add(inbox, 'input', '').vs({ 
			placeholder : 'Наименование сообщества',
			name : 'title'
		});
		vom.add(inbox, 'textarea', '').vs({
			placeholder : 'Краткое описание',
			name : 'definition'
		});
		vom.add(inbox, 'input', '').vs({
			type : 'file',
			name : 'logo',
			style : 'display:none;'
		});
		
		
		
		//анимирует плавное появление:
		setTimeout(function()											//вместо requestAnimationFrame
		{									
			inbox.style.opacity = '1';
			inbox.style.transition = '0.6s';
			inbox.querySelector('input').focus();
		}
		, 20);		
		
		
		
		this.Destroy = function(){
		
			inbox.style.opacity = '0';			
			backdrop.style.opacity = '0';
			
			setTimeout(function()											//вместо requestAnimationFrame
			{									
				inbox.parentElement.removeChild(inbox);								//parentNode	
				backdrop.parentElement.removeChild(backdrop);						//parentNode	
			}
			, 600);		
					
		}
		
	}
	

	
	
	
	//insert_group.prototype = PopupIntroduce;
	
	var group_introduce = null;
	function insert_group(event){
		if (event.target.innerText == '+')
		{
			group_introduce = new PopupIntroduce();
			event.target.innerText = '-';
		}
		else
		{
			group_introduce.Destroy();
			event.target.innerText = '+';	
		}
	}

{% endblock %}
{% block main %}
	<ul class='blocklist'>
		{% if object_list|length == 0 %}
			<div style='width:100%;line-height:70vh;text-align:center;'>У вас еще нет групп</div>
		{% endif %}
			
		{% for community in object_list %}
			<li id='{{community.id}}'>
				<a href='{% url "multidialog" dialog.id %}' class='object_link' onclick=''>
				
					{{community.title}}
					
					<img src='{{community.logo.url}}' class='' />
				
				</a>
				
			</li>
		{% endfor  %}
		
		{% csrf_token %}
		
		<div class='add_button' onclick='insert_group(event);'>
			+
		</div>
		
		<div style="z-index: 10; position: fixed; top: 40vh; left: 40vw; background-color: red;"></div>
				
	<ul>		
	
	

{% endblock %}


