-extends "detail.html"
	
	-block main
	
		%main 
			%article
		
				#community_block
				
				
					.communitie_title 
						%h3 ={object.title}
					.communitie_content ={object.definition}	
			
	-block section	
	
