.blocklist{
	list-style-type: none;
	margin-right: 20px;	
}
.blocklist > li{
	padding: 0.5em;
	border: 1px solid lightgray;
	margin-bottom: 1px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #f3ecd9;/*#e5f7f6;*/
	position: relative;
	height: 1.2rem;
	transition: 1s;
	overflow:hidden;
}		
.blocklist > li:hover{
	background-color: #ffd78f;/*#d9f1eb;		*/	
}			



.to_friend{
	position: absolute;
	right: 15px;
	top: 5px;
	background-color: lightblue;
	border: none;
	padding:5px;
	border-radius: 5px;
	cursor:pointer;
	min-width:100px;
	transition: 1s;
}
.to_friend:hover{
	background-color:lightgreen;
}
.sended{
	background-color: lightcyan;
}
.sended:hover{
	background-color: orange;
}

.closer{
	background-color:burlywood;
}

.leave{
	color:cadetblue;
	background-color:lightgray;
}

.closer:hover{
	background-color:orange;
}

.leave:hover{
	background-color:orange;
}

h1{
	text-align: center;
}