<ul class='profiles_list'>
	{% for User in Users %}

<!-- User.Status -->
		<li data-_refresh='content' data-to='{% url "user" User.id %}' id='us_{{ User.id }}'>

			<h3>
				{{ User.username }}
				{{ User.last_name }}

			</h3>
			<div class='i_desc'>
				Male: 29
				Sex: jenshina

			</div>
			{% if User.Image %}
				<div class='logo'>
					<image src='{{ User.Image.url }}'></image>
				</div>
			{% else %}
				<div class='logo'></div>
			{% endif %}
			<div onclick='friend_act(this,event)' class='i_mnu'>
<!-- button 12456 -->
<!-- button 12456 -->
				{% if User.Recipient %}
					<button class='to_friend sended'>Reconside</button>

				{% elif User.Sender %}

					<button class='to_friend sended out'>
						Refuse

					</button>
					<button class='to_friend sended'>
						Accept

					</button>
				{% elif User.Friend %}
					<button class='to_friend'>Remove friend</button>
				{% elif User.Me %}
					<button name='self' style='border:1px solid orange;' class='to_friend'>Profile</button>

				{% else %}
					<button class='to_friend'>To_friend</button>

				{% endif %}
			</div>
			{% csrf_token %}
		</li>
	{% endfor %}

</ul>
