{% load staticfiles %}

<ul class='community_list'>

	{% static "images/_default_group.png" as i_logo %}

	
	{% csrf_token %}
		
	{% with STATIC_URL|add:","|add:"MEDIA_URL" as i_prefix %}		
		
		{% for community in object_list %}
		
		
			<li class="community__item" tabindex=0>
		
				<a href="{% url "group" community.id %}">
				
					<h3>{{community.title}}</h3>
				</a>			
			  
				<div class='i_desc'>
					{{community.definition}}
				</div>  
			  
				<div class="logo" style=	
					"background-image:url({{i_logo}})">
				
					{% if community.logo %}
						<img 
							src='{{community.logo.url}}'
							class='logo_item'
						/>	
					{% endif %}
					
				</div>
			  
					  
				<div class="i_people">
					 <div class="i_participant"></div>  
					 <div class="i_participant"></div>  
					 <div class="i_participant"></div>    

					 
				</div>		  
					  
				<div class="i_tags">
					 <span>кулинария111</span>
					 <span>блюда</span>
				</div>   
			  
				<div class="i_mnu">      
					
				 <button class="">Поделиться</button>
				 <button class="">Поделиться</button>
				 
			  </div>
			  

			  
			</li>	
		
		{% empty %}
		
			<div style='width:100%;line-height:70vh;text-align:center;'>У вас еще нет групп</div>		
		
		{% endfor  %}
	
	{% endwith %}
			
<ul>		