{% load template_ex %}
<div class='user'>

	<!--[if IE 8]><div style='margin-left:50px;'><![endif]--><!--увеличим расстояние от шапки-->



		<div class='user_desc'>
			<p class='atr'> 
			
				{{ profile|field_name:'Age' }}: 
				<span class='ab' id='age'> 
					{{ profile.Age }}
				</span> 
			</p>
			<p class='atr'> 
			
				{{ profile|field_name:'City'}}: 
					<span class='ab' id='city'> 
						{{ profile.City }}					
					</span>
			</p>
			<p class='atr'> 
				{{ profile|field_name:'Sex' }}: 
				<span class='ab' id='sex'> 
					{{ profile.Sex }}
				</span> 
			</p>	
			
		</div>			

			
		<p class='atr ava' {# id='_ava' #}> 					
		
			{% if profile.Image %} 
				<img id='image' alt='' src='{{profile.Image.url}}'/>
			{% else %}
				<div class='default_ava'></div>
			{% endif %}
		</p>

		
		<div class='user_action'>

			{% if self %}
			
				
				<!--<a class='change' id='action' href="{% url 'edit_self' user.id %}">-->
					<button id='action' 
						onclick='{
							document.location.href="{% url 'edit_self' user.id%}";
						}'
					>
						измениться
					</button>
				<!--</a>-->
				
			{% else %}
			
				{% url 'get_dialog' as dialog_url %}
			
				<button 
					id='action'  
					name={{ dialog_url|cut:"/" }}
					formaction = {% url 'dialog' profile.id %}
					onclick="do_action(this,event);"
					style="z-index:10;"
					data-for_refresh='content'
				>
					Отправить сообщение
				</button>				
			{% endif %}	
			
			
		</div>		
		
				
<!--[if IE 8]></div><![endif]-->

</div>