<div id="win" style="visibility:hidden;" onkeydown ="
	{		
		if (event.keyCode == 27) Note.hideView();		
	}
">

	<div id="article__imgpreviewer" style=''>
		
	</div>

	<form action='#' onsubmit='Note.post_View(this, event);' method='post' id='note'>
	
		{% csrf_token %}
		{{create_articles.as_p}}
		
		<!-- Кнопки: -->
			
		
		<input 
			form='note' 
			class='btn note_action' 
			type='submit' 
			value='Поделиться' 
			style='
				float:left;
				box-shadow: 0 0 5px 1px grey;
				background-color: #c3bdb0;				
			'>
		
		<label for='upload_images' class='btn note_action'>
			+
		</label>
		<input 
			type='file'
			id='upload_images'
			name = 'images'
			style='display:none' 
			accept = 'image/*'
			multiple
			onchange='Note.__upload_images(event);'
		/>

		<button 
			class='btn note_action' 
			style='margin-right: 5%;float:right;' 
			onclick='event.preventDefault(); Note.hideView()'>
			
				Скрыть
		</button>
		
		
	</form>	

</div>

<article>
	{% if articles %}				
				
		<div class='articles_list'>
		
		{% for article in articles %}
				<section>
				
				
				
				
				
				
				
					<div class="note">

						<a href="">
						  <h3>Лучшая</h3>
						</a>
						
					  <div class='desc'>Эта статья о том, как похудеть</div>  
					  
					  <div class="logo"></div>
					  <!--<button class="i_mnu">Поделиться</button>-->
					  <div class="i_mnu">
						 
						 <button class="">Поделиться</button>
						 
					  </div>
					  
					  <div class="_i_console">
						
						<span class="i_time">1.15</span>
						<span class="i_tags">Ntu</span>
					  </div>
					  					  
					</div>						
				
		
				
				
				
				
				
				{% comment %}
				
					<div class='Anote'>
					
						<a href={% url "article_view" article.id %} data-_refresh = '<articles_block'>
						{# data-_refresh = 'articles_block'> #}

							<h4 style='margin-top:5px'>
								{{article.Title}}
							</h4>
							
						</a>
						<div>{{article.Content}}</div>
					</div>
				
				{% endcomment %}
					
				</section>
		{% endfor %}
		
		</div>
			
	{%endif%}
</article>