<div class='dialog_container'>
	
	{#this is {{buddy_id}}#}
	<div class='face_container'>
		<a 
			href='{% url 'user' buddy_id %}'
			class='buddy_face' 
			style='
				background-image:url({{talker_image}});
				background-size: contain;
				background-position: -25px 50px;
				'>
		</a>
	</div>
	
	
	<div class="dialog">
		
		<ul class="messages">
			{% now "dmy" as td %}
			{% load message_tags %}
		
			{# messages|slice:":10" as msgs #}
			{% for message in messages reversed %}		
			
			
					{% ifchanged message.Time|date %}
						<div class="day">
							{{ message.Time|date }}
						</div>
					{% endifchanged %}
				
					<li class="{%if message.sender_id != user.id%}y{%endif%} message">
						<span class="mess_id">{{message.id}}</span>						
						
						{% autoescape off %}
							{{ message.Content|as_media }}
							{#% present message.Content %#}
						{% endautoescape %}
						
						
						<sub class='mess_time'>
							{% if message.Time|date:"dmy" == td %}							
								Сегодня 
							{% endif %}
													
							{{message.Time|time:"H:i"}}		
						</sub>

					</li>						
								
			{% endfor  %}
		</ul>
	</div>	

	
	<form method='post'>{% csrf_token %}
		<textarea autofocus onkeydown='enter(this, event)' onmousedown='/*customizeEnter*/'></textarea>
		
		<label for='uploadImage' id='select_img' style="
			position: absolute;
			right: 30px;
			top: 10px;
			background-color: beige;
			border-radius: 15px;
			cursor: pointer;
			padding: 8px 12px;
			
			">+</label>
		<input type="file" id="uploadImage" name='images' style='display:none' multiple accept="image/*"><!---->

		<script>


	/*!
		просмотр на весь экран
	*/
	function InitPreviver(){
		
		var container = document.createElement('div');
		
		container.style.position = 'fixed';
		container.style.top = "0px";
		container.style.left = "0px";
		container.style.right = "0px";
		container.style.bottom = "0px";
		container.style.zIndex = "100";
		container.style.position = "fixed";
		container.style.backgroundColor = 'rgba(105, 102, 102, 0.87)'; //'lightgray';	
		container.style.textAlign = 'center';
		container.style.lineHeight = '100vh';				
		container.style.display = 'none';
		
		document.querySelector('body').appendChild(container);
		
		return container;
	}



	FReader = new FileReader();
	
	var imgContainer = InitPreviver();


	//var temp_img_id = 0; //temp
	
	//событие на загрузку файла
	/*!
		После загрузки файла в озу js, отобразить его
	*/
	function img_load(e) {

		
		var parent = document.querySelector('.messages');
		var mess = document.createElement('li');
		mess.style.marginBottom = '7px';
		mess.style.height = '200px';
		
		var img = new Image(); 
		img.height = 200;
		img.src = e.target.result;
		
		img.style.backgroundSize = 'rgba(105, 102, 102,0.87)';
		img.style.cursor = 'pointer';		
		
		mess.appendChild(img);
		parent.appendChild(mess);
		
		mess.scrollIntoView(false); //- не до конца
		parent.parentElement.scrollTop += 10; 
		// при условии, что полосы прокрутки уже есть
		
		//итак, показали. Теперь надо отправить на сервер:
		var data =document.querySelector("#uploadImage").form;
		
		
		
		
		
		//это должно происходить на последнем FReader,
		// когда все данные уже загружены в форму
		/*
		var media_message = new Ajax(null, function(ans){
			alert(ans);
		});
		media_message.contentType = 'multipart/form-data';
		media_message.post_form(data);
		//media_message.contentType = 'application/x-www-form-urlencoded';//*/
		
		
		
		
		
		
		
		//возвращает картинку с вида на весь экран в сообщение
		var reduce_image = function(elem){
			
			img.style.height = '200px';
			img.align = 'left';
			imgContainer.style.display = 'none';
			mess.appendChild(img);
			
		};
		
		img.onclick = function(event){

			if (imgContainer.style.display != "block"){

				imgContainer.style.display = 'block';
				imgContainer.appendChild(img);	
				
				img.className = "img_in_message";
				img.align = 'middle';
				img.tabIndex = 0;
				img.focus();
			}
			else
				reduce_image(mess);		
			
		};
		
		mess.onkeydown = function(event){
			
			if (event.code == 'Escape') {
				reduce_image(mess);
			}
		};
		
	};

	FReader.onload = img_load;

	// функция выборки файла
	document.querySelector("#uploadImage").onchange = function loadImageFile() {
		
		
		
		var files = event.target.files;
		
		if (files.length > 1){
			var parent = document.querySelector('.messages');
			
			for (var i = 1; i < files.length; i++) {
				var file = files[i];
				
				if (!file.type.match('image')) continue;
				
				var picReader = new FileReader();
				picReader.onload = img_load;
				/*
				picReader.addEventListener("load", function (event) {
					var picFile = event.target;
					var div = document.createElement("span");
					div.innerHTML = "<img height=200 src='" + picFile.result + "'" + "title='" + file.name + "'/>";
					parent.insertBefore(div, null);
				});*/
				
				picReader.readAsDataURL(file);
			}				
		}
				
		var file = document.querySelector("#uploadImage").files[0];
		FReader.readAsDataURL(file);
		
		
		
		//итак, показали. Теперь надо отправить на сервер:
		var data =document.querySelector("#uploadImage").form;
		
		
		var media_message = new Ajax(null, function(ans){
			//alert(ans);
		});
		media_message.contentType = 'multipart/form-data';
		media_message.post_form(data);		
		
	}

		</script>


		
	</form>
</div>