<div class='dialog_container'>
	
	{#this is {{buddy_id}}#}
	
	{% if buddy_id %}
		<div class='face_container'>
			<a 
				href='{% url 'user' buddy_id %}'
				class='buddy_face' 
				style='
					background-image:url({{talker_image}});
					background-size: contain;
					background-position: -25px 50px;
					'>
			</a>
		</div>
	{% endif %}
	
	
	<div class="dialog">
		
		<ul class="messages">
			{% now "dmy" as td %}
			{% load message_tags %}
		
			{# messages|slice:":10" as msgs #}
			{% for message in messages reversed %}		
			
			
					{% ifchanged message.Time|date %}
						<div class="day">
							{{ message.Time|date }}
						</div>
					{% endifchanged %}
				
					<li class="{%if message.sender_id != user.id%}y{%endif%} message">
						<span class="mess_id">{{message.id}}</span>						
						
						{% autoescape off %}
							{{ message.Content|as_media }}
							{#% present message.Content %#}
						{% endautoescape %}
						
						
						<sub class='mess_time'>
							{% if message.Time|date:"dmy" == td %}							
								Сегодня 
							{% endif %}
													
							{{message.Time|time:"H:i"}}		
						</sub>

					</li>						
								
			{% endfor  %}
		</ul>
	</div>	

	
	<form method='post' style='bottom:2em'>{% csrf_token %}
		<textarea autofocus onkeydown='enter(this, event)' onmousedown='/*customizeEnter*/'></textarea>
		
		<label for='uploadImage' id='select_img' style="
			position: absolute;
			right: 30px;
			top: 10px;
			background-color: beige;
			border-radius: 15px;
			cursor: pointer;
			padding: 8px 12px;
			
			">+</label>
		<input type="file" id="uploadImage" name='images' style='display:none' multiple accept="image/*"><!---->


		
	</form>
</div>