/*in common with .main in user.html*/
.left_block {
  position: fixed;
  top: 150px;
  left: 10px;
  border: 1px solid;
  width: 22rem;
}
.user {
  padding: 50px;
  padding-top: 0;
  box-sizing: border-box;
}
.atr {
  font-weight: bold;
}
.atr img {
  max-width: 16em;
  width: 16vw;
}
.detail {
  background-color: floralwhite;
  margin-right: 17em;
  margin-left: 24em;
  padding: 1em;
}
.centre_block {
  /*in common with .articles in user.css*/
  /*position:absolute;*/
  margin-left: 24em;
}
.title h3 {
  background-color: lightgray;
  text-align: center;
  margin: 0;
  padding: 1em;
}
.content {
  padding: 1em;
}
#close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: beige;
  width: 30px;
  height: 35px;
  z-index: 1;
  outline: none;
  transition: 1s;
  border-radius: 15px;
}
#close:hover {
  background-color: #ffbb6a;
}
#close:focus {
  transition: none;
  background-color: #ff9300;
}
.user {
  padding: 50px;
  padding-top: 0;
  box-sizing: border-box;
}
.user .atr,
.user .user_action {
  font-weight: bold;
  margin-top: 20px;
}
.user .atr img {
  max-width: 16em;
  width: 16vw;
}
.user .atr span {
  color: brown;
  font-weight: normal;
}
