#header{
	display:none;
}
.content{
	top:70px;
}




.blocklist{
	list-style-type: none;
	
    /*margin-right: 16em;*/
    padding: 3em;
	
	padding-top:0;
	margin-top:0;	
}
.blocklist > li{
	padding: 0.5em;	
	margin-bottom: 1px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	transition: 0.5s;
	overflow:hidden;
	
	

/*кастомизация*/
	height: 2rem;
	border: 1px solid lightgray;
	background-color: #def1f0;/*#c5ec98;*//*#e5f7f6;*/
}
.blocklist > li:hover{
	background-color: #d0d9f5;/*#ffd78f;/*#d9f1eb;		*/	
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Shadows+Into+Light&display=swap');


.blocklist a{
	text-decoration:none;
	color:black;

}

.last_mess{
	line-height: 2em;
	font-family:Segoe Print,calibri,monospace;
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Josefin Sans', sans-serif;

}

.unread{
	/*display:inline;
	float:right;*/
	
	display:inline-block;	
	top:0;
	right:0px;
	position:absolute;
	/*line-height: 2em;*/
	padding:0.5em;	
	
	background-color:darkgray;/*#c5ec98;*/
	min-width:1em;
	border-radius:1em;
	text-align:center;
}

