.note_action{
	margin: 0;
	min-width:7em;
	min-height: 40px; 
	margin-left: 5%;
	text-align:center;
	line-height:40px;
}

#note p, #note input{ /*:first-child*/
	margin-top:0;
}

#note p:first-of-type{
	/*margin-bottom:0;*/
}



#note #id_Title{
	/*font-weight: bold;*/
	width: 90%;
	margin: 0em 5% 0 5%;
	line-height: 1em;
	padding: 0 5px 0 5px;
	border-radius: 5px 5px 0 0;
	padding:5px;

	border: 1px solid gray;
	box-sizing: border-box;

	font-size: x-large;
	text-align: center;
	outline: none;	
}



#article__imgpreviewer{
	position: absolute;
    right: 5%;
    z-index: 2;
    top: 3.5em;
    min-width: 64px;
    
    background-color: rgba(15, 15, 15, 0.32);
	
	height: 320px;/*60vh;*/
	height: calc(100vh - 155px - 10rem);
}

#note textarea{
	height:20em;
	height: calc(100vh - 150px - 10rem);
	
	/*height: 60vh;*/
	width: 80%;
	z-index: 1;
	border-color: blanchedalmond;
	outline: none;

	/*
	width: calc(90% - 64px);
	*/

	margin: 0 5% 0 5%;
	padding:15px;

	border-style: groove;
	border-right:none;
	box-sizing: border-box;

	font-size: large;	/*x-*/
}

#win{
    position: fixed;
    z-index: 10000;
    /*background-color: aliceblue;*/
    right: 0;
    bottom: 0;
    left: 23em;
    top: 150px;
    right: 16em;
	opacity:0;
	transition:1s;
}

.content{	
	/*background-color: azure;*/
    /*padding-bottom:300px;*/
	height:300px;
	
}

.user_block{
	position:fixed;
	top:150px;
	left:10px;
	border: 1px solid;
	width:22rem;
}

.user{
    padding: 50px;
    padding-top: 0;
    box-sizing: border-box;
}

.articles{
	/*margin:34vw;
	margin-top:6vh;*/
	/*margin-left:90px;*/
	/*width:47vw;*/
	
	position:relative;/*absolute;*/
	position:absolute;
	left:24rem;
	right:16em;
}

.btn .note_action{
    margin-right: 5%;
    float: right;	

}

@media screen and (max-width: 1280px) {
	.user_block{
		/*position:relative;*/
		/*top:0px;*/
		/*width:77%;	*/
		/*right:16em;*/
		width:16em;
	}
	.user{
		padding:30px;
	}
	
	
	
	.articles{
/*		left:10px;*/
		right:80px;
		left:18em;
	}
	#win{
		left:18em;
		right:70px;
	}
	#note #id_Title, #note textarea{
		margin:0 !important;
		width:100% !important;
	}
	
	input.note_action{
		margin: 0;
	}
	
	#win button {
		margin: 0 !important;	
	}	
	
	#article__imgpreviewer{
		right:0%;
		border-style: ridge;
	}
	
	
	
	/*вероятно, это стоит перенести в aside*/
	.aside{
		width:60px;
		left:auto;
	}
	.aside_menu span{
		display:none;
	}
	.aside_menu img{
		/*padding:10px;*/
		opacity:0.9;
		transition:0.2s;
	}
	.aside_menu img:hover{		
		opacity:1;
	}
	
}

@media screen and (max-width: 800px){
	
	.articles{
		left:15px;
		top:300px;
	}
	
	.left_unit{
		width:auto;
		right:80px;
	}
	.user{
		padding-bottom:0;
		min-height:200px;
	}
	.user_desc{
		display:inline-block;
		vertical-align: top;
		padding-right:20px;
	}
	.ava{
		display: inline-block;
	}
	.user_action{
		position: absolute;
		bottom: 20px;
		left: 50px;		
	}
	
	.change{
		display:block;
	}
}



.ab{
	color: brown;
	font-weight: normal;
}
.atr{
	font-weight: bold;	
}
.atr img{
	/*height: 200px;*/
    max-width: 16em;
    width: 16vw;	
}	

.Anote{
	border-bottom: 1px #eab8b8 solid;
	
	
	width: 60%;
	padding: 5px;
	margin: 5px;
}
.Anote a{
    text-decoration: none;
    color: black;	
}

#header{
	margin-left: 50px;
	text-align: left;
}



.articles_list{
	transition: 1s;
	border:1px solid lightgray;
	border-radius: 8px;
}

.new_note input, textarea{
	width:100%;
}