.note_action{
	min-width:7em;
	min-height: 40px; 
	margin-left: 5%;
	text-align:center;
	line-height:40px;
}

#win{
    position: absolute;
    z-index: 10000;
    background-color: aliceblue;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
	opacity:0;
	transition:1s;
}

.content{	
	/*background-color: azure;*/
    /*padding-bottom:300px;*/
	height:300px;
	
}

.main{
	position:fixed;
	top:150px;
	left:10px;
	border: 1px solid;
	width:22rem;
}

.user{
    padding: 50px;
    padding-top: 0;
    box-sizing: border-box;
}

.articles{
	/*margin:34vw;
	margin-top:6vh;*/
	/*margin-left:90px;*/
	/*width:47vw;*/
	
	position:relative;/*absolute;*/
	position:absolute;
	left:24rem;
	right:16em;
}

@media screen and (max-width: 1280px) {
	.main{
		/*position:relative;*/
		/*top:0px;*/
		/*width:77%;	*/
		/*right:16em;*/
		width:16em;
	}
	.articles{
/*		left:10px;*/
		right:80px;
		left:18em;
	}
	
	
	
	/*вероятно, это стоит перенести в aside*/
	.aside{
		width:60px;
	}
	.aside_menu span{
		display:none;
	}
	.aside_menu img{
		/*padding:10px;*/
		opacity:0.9;
		transition:0.2s;
	}
	.aside_menu img:hover{		
		opacity:1;
	}
	
}

@media screen and (max-width: 800px){
	
	.articles{
		left:15px;
		top:300px;
	}
	
	.main{
		width:auto;
		right:80px;
	}
	.user{
		padding-bottom:0;
		min-height:200px;
	}
	.user_desc{
		display:inline-block;
		vertical-align: top;
		padding-right:20px;
	}
	.ava{
		display: inline-block;
	}
	.user_action{
		position: absolute;
		bottom: 20px;
		left: 50px;		
	}
	
	.change{
		display:block;
	}
}



.ab{
	color: brown;
	font-weight: normal;
}
.atr{
	font-weight: bold;	
}
.atr img{
	/*height: 200px;*/
    max-width: 16em;
    width: 16vw;	
}	

.Anote{
	border-bottom: 1px #eab8b8 solid;
	
	
	width: 60%;
	padding: 5px;
	margin: 5px;
}
.Anote a{
    text-decoration: none;
    color: black;	
}

#header{
	margin-left: 50px;
	text-align: left;
}



.articles_list{
	border:1px solid lightgray;
	border-radius: 8px;
}

.new_note input, textarea{
	width:100%;
}