{% extends "base.html" %}{% load staticfiles %}

	
{% block links %}
	{{ block.super }} 
	<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block style %}
	{{ block.super }}
	.section_nav{
		margin-right: -5px;
	}
{% endblock %}



{% block nav %}
	<a href="{% url 'users' %}" class='section_nav'>Статьи</a>
	<a href="{% url 'users' %}" class='section_nav'>Лидеры</a>
	<a href="{% url 'users' %}" class='section_nav'>О нас</a>	
	<a href="{% url 'signup' %}" class='section_nav'>Регистрация</a>
{% endblock %}
	
{% block section %}
	
	<fieldset>		
		{{ form }}
	</fieldset>
		
{% endblock %}