{% extends "detail.html" %}
		
{% block links %}
	{{ block.super }}
	
	{% load staticfiles %}	
	<!--[if IE 8]>
		<script src="{% static 'ie8.js' %}"></script>
		<style>
			.day{
				background-color:transparent !important;
			}
		</style>
	<![endif]-->
	<script src="{% static 'ajax.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/message_list.js' %}" id='dynamic_c_list' >
		
	</script>
	<link rel="stylesheet" href="{% static 'message_list.css' %}">
	
{% endblock %}			
		


{% block onload %}

	if (!document.addEventListener){	// ie8 и ниже
		//подгоняем дизайн:

		document.querySelector('.content').style.top = "0px";
		var dialog =  document.querySelector('.dialog');
		dialog.style.height = 
			(document.documentElement.clientHeight - 
			(document.querySelector('.nav').currentStyle.height != 'auto' ? document.querySelector('.nav').currentStyle.height.replace("px","") : 0) -				
			100) + "px";
		dialog.style.left = (document.documentElement.clientWidth * 0.025) + "px";
		dialog.style.width = (document.documentElement.clientWidth * 0.9) + "px";
		
		var txt =  document.querySelector('textarea');
		txt.style.width = dialog.style.width;
		txt.style.left = dialog.style.left;
		txt.style.marginTop = "10px"; 
		txt.style.border = "1px solid gray"; 
	}

	var list = document.querySelector('.messages');
	if (list.offsetHeight >= list.parentElement.offsetHeight - 35)
	// создаем скролл
	{
		list.style.height = list.parentElement.offsetHeight - 35 + "px";
		list.children[list.children.length-1].scrollIntoView(false);
		document.querySelector('.dialog').scrollTop += 5;
	}

	document.bell_get = new Bell("{% static 'music/get.mp3' %}");
	document.bell_post = new Bell("{% static 'music/post.mp3' %}");

	setTimeout(Checking, 1000);	
		
{% endblock %}




{% block script %}		

	{{ block.super }}
	
	var Checking = function(){
		
		var messages = document.querySelectorAll('.mess_id');
				
		var up = messages.length ? messages[messages.length-1].innerText : 0;
		
		var data = 'check='+ up;
		POST(data, checkMessages);		
	};
	
	var checkMessages = function(response){
	
		if (response != 'nop' && response != ''){
			var messages = JSON.parse(response);
			var listMessages = document.querySelector('.messages');
			for (var key in messages)
			{
				var mess = AppendNewElemTo(listMessages, Elem('li', messages[key], 'y message'));
				AppendNewElemTo(mess, Elem('span', key, 'mess_id'));
				AppendNewElemTo(mess, Elem('sub', Time(), 'mess_time'));
			}
							
			if (listMessages.offsetHeight >= listMessages.parentElement.offsetHeight - 35)
			{	
				listMessages.children[listMessages.children.length-1].scrollIntoView(false);				
			}
		
			document.bell_get();
				
		}
		
		Checking();
	};


	

{% endblock %}

{% block main %}
	<div class='detail' id='main'>
	
		{% include "fragments/messages_list.html" %}		
	</div>
{% endblock %}
		
{% block aside_inside %}
	
	<!--
	<div style=''></div>
	<img src='{{MEDIA_URL}}{{talker_image}}' style='margin-top:25px; border-radius: 90px; border: 1px gray solid;max-height:300px;max-width:200px;min-height:30vh;min-width:14vw;' />-->
	
{% endblock %}