{% extends "detail.html" %}

	{% block links %}

		{{ block.super }}
		{% load staticfiles %}
		{% load dev_tags %}

<!--[if IE 8]>
			<script src='{% static "ie8.js" %}'></script>
<![endif]-->
		<link rel='stylesheet' href='{% static "profile_list_2.css" %}' id='dynamic_link'>
		<script src='{% static "ajax.js" %}'></script>
	{% endblock %}

	{% block script %}

		{{ block.super }} //- inittialize


		{% include 'main/profile_list/behavior.js' %}

	{% endblock %}

	{% block header %}
		1111111111111111111
<!-- Users: -->
	{% endblock %}
	{% block main %}
			{% frag "__profiles" %}

	{% endblock %}
	{% block section %}
	{% endblock %}
<!-- -block aside -->
