{% extends "detail.html" %}

	{% block links %}

		{{ block.super }}
		{% load staticfiles %}

<!--[if IE 8]>
			<script src='{% static "ie8.js" %}'></script>
<![endif]-->
		<link rel='stylesheet' href='{% static "profile_list_2.css" %}' id='dynamic_link'>
		<script src='{% static "ajax.js" %}'></script>
	{% endblock %}

	{% block script %}

		{{ block.super }}
		{% include 'main/profile_list/behavior.js' %}

	{% endblock %}

	{% block header %}
		Users:

	{% endblock %}
	{% block main %}
		<ul class='blocklist'>
			{% for User in Users %}
				<li onclick='user_click(this, event)' onmousedown='user_mousedown(this,event)' id='{{ User.id }}'>

					<h3>
						{{ User.username }}
						{{ User.last_name }}

					</h3>
					<div class='i_desc'>
						Male: 29
						Sex: jenshina

					</div>
					<div class='logo'></div>
					<div class='i_mnu'>
						<button>12456</button>
						<button>12456</button>

						{% if User.Recipient %}
							<button class='to_friend sended'>Reconside</button>

						{% elif User.Sender %}
							<button class='to_friend sended out'>Refuse</button>
							<button class='to_friend sended'>Accept</button>

						{% elif User.Friend %}
							<div class='friend to_friend'>Your friend</div>

						{% else %}
							<button class='to_friend'>To_friend</button>
						{% endif %}
					</div>
				</li>
				{% csrf_token %}

			{% endfor %}
		</ul>
	{% endblock %}
	{% block section %}
	{% endblock %}
<!-- -block aside -->
