-extends "detail.html"
		
	-block links 
	
		={block.super}
		-load staticfiles
		-load dev_tags
	
		/[if IE 8] 
			script(src='~static "ie8.js"')
		link(
			id="dynamic_link"
			rel="stylesheet" 
			href='~static "profile_list_2.css"')
		script(src='~static "ajax.js"')		

	-block script
	
		={block.super} //- inittialize
		
		
		-include 'main/profile_list/behavior.js'
	
	-block header
		1111111111111111111
		/Users:
		
	-block main
		-frag "__profiles"
		
	-block section
	/-block aside
	
*************************

var profile_list = {}
function test(){
	
}


-------------------------


.style_sample{
	
}