.f{ }
.less{}								// less sign
@i_height : 7em;
@backcolor: bisque; 				//azure;
@border_r : 15px;

@_block_side : lighten(lightgray, 12%);

.profiles_list{
	list-style-type: none;
	padding: 0;
	border-left:1px solid @_block_side;
	border-right:1px solid @_block_side;
	
	border-radius:@border_r;
	margin-left: 20px; }
.profiles_list > li{
	transition: 1.5s;
			
	position: relative;
	height:@i_height;
	padding: 10px 140px 5px 20px;
	box-sizing: border-box;

	background-color: lighten(@backcolor, 8%);
	overflow:hidden;
	white-space:nowrap;	
	
	margin-bottom:10px;
	
	border-radius:@border_r;
	border:1px solid darken(@backcolor, 8%);
	cursor:pointer;	}
.profiles_list>li:hover{
	background-color:lighten(orange, 40%);
	border:1px solid darken(@backcolor, 40%);
}

.profiles_list > li h3{
  margin:10px 0 0 20px;
  font-family:'Tenor Sans';
}
.i_desc{
  margin:10px 0 0 20px;
  display:inline-block;
  font-size: large;
  color:brown;
  width:100%;
  overflow:hidden;
  text-overflow:ellipsis;/*just for ie*/
}

.logo{
  position: absolute;
  top:0;
  right:0;
  background-color: green;
  width: @i_height;
  height: @i_height;
  
  transition:1s;
  opacity:0.8;
  background: url(http://raduga-shop.ru/wa-data/public/shop/products/18/14/21418/images/23955/23955.96x96.jpg) no-repeat center;  
  background-size:cover;
  border:1px solid lightgray;
  border-radius: @border_r;
  overflow:hidden;
  box-sizing:border-box;}
.logo img{
  transition:1s;
  width: @i_height;
  height: @i_height;	
}

.i_mnu{
  position:absolute;
  bottom:-40px;
  
  border-radius:15px 0px 0 0;
  overflow:hidden;
  right:@i_height;
  
  background-color: beige;
  transition: opacity 1s, bottom 1s ease-out;

  opacity:0;
}
.profiles_list>li:hover .i_mnu{
  bottom:0px;
  opacity:0.95;
}


.i_mnu>button{
  transition:1s;
  
  padding:10px;
  cursor: pointer; 
  color:#98846d;
  border:none;
  /*border:1px burlywood solid;*/
}
.i_mnu>button:hover{
  background-color: orange;
  color:black;
}