{% extends "detail.html" %}

	{% block script %}
		{{ block.super }}

			function a(){

			}


	{% endblock %}
	{% block section %}
		<div class='left_block'>

			<section>

				{% with object.From as profile %}

					{% include "fragments/_user_profile.html" %}

				{% endwith %}

			</section>
		</div>
	{% endblock %}
	{% block main %}

		<main>
			<article>

				<div class='centre_block' id='article'>

					{% include "fragments/_article.haml" %}

				</div>
			</article>
		</main>
	{% endblock %}

