-extends "detail.html"
	
	-block user
		#user_block			
		
			%figure
			
				-with object.From as profile
				
					-include "fragments/_user_profile.html"
				
	-block articles
		
		%main %article
				.article_title 
					h3 ={object.Title}
				.article_content ={object.Content}

