-extends "detail.html"
	
	-block script
		={ block.super }
		
			function a(){
				
			}
	
	
	-block section
		.left_block			
		
			%section
			
				-with object.From as profile
				
					-include "fragments/_user_profile.html"
				
	-block main
		
		%main %article
		
				.centre_block#article
				
					-include "fragments/_article.haml"

					