<!DOCTYPE html>
{% load staticfiles %}
<html>

	<head>{% load staticfiles %}
		<meta charset="utf-8" />
		
		<title>{% block title %}{{ header }}{% endblock %}</title>
		
		<link rel="stylesheet" href="{% static 'base.css' %}">
		
{% block links %}
	<script src="{% static 'ajax.js' %}"></script>
	
	<script src="{% static 'js/base.js' %}"></script>
	
	<script src="{% static 'js/common.js' %}"></script> {# init #}
	
	<script src="{% static 'js/snippet.js' %}"></script> {# leafer #}
{% endblock %}	
		
		<style>
		
			{% block style %}				

			{% endblock %}					
			
		</style>
		
		<style id='dynamic_style'>
			{% block dynamic_style %}{% endblock %}
		</style>
		
		<script>
		
			{% block script %}
				
				dom = document;
                dom.obj = document.getElementById;
                dom.get = document.querySelector;
				loc = document.location;
				
				/*!
					Универсальная функция частичной перезагрузки страницы
					
					Пока для кнопок и ссылок. 
				*/
				
				
				window.onload = function()
				{
				
				
					var routes
						= document.querySelectorAll('[data-_refresh]');
					
					for (var way in routes){
						routes[way].onclick = fragment_refresh;
					}
				
					/*! ерунда:
					var menu = document.querySelector('nav');
					var points = menu.getElementsByTagName('section_nav');
					*/
					
					
					/*
					dom.obj('me').onclick = function(e){
						
						if (!window.atob) return true;
						else e.preventDefault();

						alert('me____me');
					}//*/
					
					//document.querySelector('#_dialogs').onclick =
						
					{% block onload %} {% endblock %}
				}
				
				
				
			{% endblock %}

		</script>
		
		
		
	</head>

	<body>

	
		<div class='header'>
			<header>
		
				<div class='nav' id='nav'>
				
					{% if request.user.is_authenticated and user.Image %}
						<a style='display:inline-block;float:left;position:relative;cursor:pointer;z-index:10' href="{% url 'user' user.id %}">
							<img style='border-radius: 25px;position:relative;top:5px;left:45px;' src='{{user.Image.url}}' height=50 width=50 />
						</a>
					{% endif %}		
				
					<nav>						
						{% block nav %}				
							
						    <a id='me' 
								name='{{user.id}}' 
								href="{% url 'user' user.id %}" class='section_nav'
								data-_refresh=
							'main>age.*,section,header,aside>inside'
								data-_require=
							'aside'>
							
									К себе
									
							</a><!--
							--><a 
							href="{% url 'dialogs' %}" 
								id='_dialogs' 
								class='section_nav'
								data-_refresh='content'
								data-_require='aside'>
									
									Общение
									
							</a><!--
							--><a 
							href="{% url 'groups' %}" 
								id='_groups' 
								class='section_nav'
								data-_refresh='content'
								data-_require='aside'
								>
								
									Сообщества
								
							</a><!--
							
							--><a 
								href="{% url 'signout' %}" 
								class='section_nav'>
								
									Выйти
								
							</a> 							
						{% endblock %}		
						
					</nav>			
				</div>
				<h2 id='header'>{% block header %} {% endblock %}</h2>
				
				
			</header>
			
		</div>				
			

		<div id='content'>
		
			
			<div id='main'> {# может быть слева, может быть центр #}
			{# для навигации #}
			
				{% block main %}
					главное уникальное содержимое
				{% endblock %}				
			
			</div>
		
				
			<div id="section">
			
				{# может быть слева, может быть центр #}
				
				{% block section %}
					<sub>дополнительны[й|е] элемент[ы] основного потока</sub>
				{% endblock %}
				
			</div>
		
		</div>	

		
		<div id='aside'> 
			
			{% block aside %}
				
				боковая колонка: управляется через id='aside'
				
			{% endblock %}
		
		</div>		
		
	</body>

</html>