{% extends "base.html" %}{% load staticfiles %}

{% block title %}

	{{ header }}
	
{% endblock %}


{% block script %}
	
	
	
	window.onload = function(){
		var ajax = new Ajax("{% url 'get_friends' %}",function(response){
			
			var stack = [];
			var keys_by_stack = ['main','articles'];
			
			
			window.onpopstate = function(){
			
				console.time('checkFor');
				//здесь немного тормозит, поэтому нужен прелоадер
			
				/*
                var view = (stack.pop()); */         
				var stored_page = {};
				
				
				for(key in history.state) {
					
					var container= document.getElementById(key);

					if (!container) continue;

					if(container.href){
						stored_page[key]=container.href;
						container.href = history.state[key];
					}
					else{
						stored_page[key]=container.innerHTML;
						container.innerHTML=history.state[key];
					}
				}
				
				
				stack.push(stored_page);
				/**/
				
				alert(JSON.stringify(history.state));
				
				console.timeEnd('checkFor');

			};
			
			
			
			var len = response.length;
			var index = 0;
			var unitSeparator = String.fromCharCode(30);		
			
			while(index <len){
				
				//длина json до 30-го символа
				var currentUserDesc = response.indexOf(unitSeparator, index);
				
				var UserDesc = response.slice(index, currentUserDesc);
				var User = JSON.parse(UserDesc);
				var imglen=response.slice(currentUserDesc+=1, currentUserDesc+=5);
				index = currentUserDesc + Number(imglen);
				User.img=response.substr(currentUserDesc,imglen);
				
				var ava_img = document.createElement('img');
				ava_img.style.float = 'left';		
				ava_img.style.borderRadius = '20px';
				ava_img.style.margin = "10px 0 0 10px";	
				ava_img.src='data:image/jpeg;base64,'+ User.img; 
				
				var username = document.createElement('span');
				username.innerText = User.username+'sgdgdgdfg';
				username.style.paddingLeft = '9%';
				
				var user_div = document.createElement('div');
				user_div.id = 'un' + User.id;
				user_div.style.cursor = 'Pointer';
				user_div.style.marginBottom = '10px';
				user_div.style.lineHeight = '40px';
				user_div.style.whiteSpace = 'nowrap';
				user_div.style.lineHeight = '60px';
				user_div.className = 'friend_pick';	
				user_div.onclick = function()
				{
					var page = '/users/'+User.id + '/';
					var ajax_user = new Ajax(
						page,
						render_page);					
					ajax_user.postData(User.id);	
					
				};		
				
				user_div.appendChild(ava_img);				
				user_div.appendChild(username);				
				
				var asd = document.querySelector('.aside_menu');
				asd.appendChild(user_div);
				
			}
						
			//							
			
		});
		ajax.postData('id=0');
		
	}
{% endblock %}

{% block links %}

	<link rel="stylesheet" href="{% static 'aside.css' %}"> 
	<link rel="stylesheet" href="{% static 'detail.css' %}"> 
	{% for link in links %}

		<link id='dynamic_link' rel="stylesheet" href="{{link}}"> 
		
	{% endfor %}
	<script src="{% static 'js/detail.js' %}"></script>
	
{% endblock %}

{% block main %}

	<div class='detail' id='main'>
		{% block user %} Пользователь {% endblock %}		
		{% block articles %} Его статьи {% endblock %}	
	</div>
{% endblock %}

{% block aside %}
	
	<div class='aside' style='position:fixed;'>
		<aside>
			
			<div class='aside_menu'>
				<a href="{% url 'users'%}"><div class='aside_btn'>Все</div></a> 
				
				<!--остальные юзеры добавляются динамически-->
			</div>
			
			{% block aside_inside %}{% endblock %}
			
		</aside>
	</div>

{% endblock %}