{% extends "base.html" %}{% load staticfiles %}

{% block title %}

	{{ header }}
	
{% endblock %}


{% block script %}
	
	
	
	window.onload = function(){
		var ajax = new Ajax("{% url 'get_friends' %}",function(response){
			
			var stack = [];
			var keys_by_stack = ['main','articles'];
			
			
			window.onpopstate = function(){
			
				console.time('checkFor');
				//здесь немного тормозит, поэтому нужен прелоадер
			
				/*
                var view = (stack.pop());          
				var stored_page = {};
				
				for(key in view) {
					
					var container= document.getElementById(key);

					if(container.href){
						stored_page[key]=container.href;
						container.href = view[key];
					}
					else{
						stored_page[key]=container.innerHTML;
						container.innerHTML=view[key];
					}
				}
				stack.push(stored_page);
				*/
				
				alert(history.state);
				
				console.timeEnd('checkFor');

			};
			
			
			
			var len = response.length;
			var index = 0;
			var unitSeparator = String.fromCharCode(30);		
			
			while(index <len){
				
				//длина json до 30-го символа
				var currentUserDesc = response.indexOf(unitSeparator, index);
				
				var UserDesc = response.slice(index, currentUserDesc);
				var User = JSON.parse(UserDesc);
				var imglen=response.slice(currentUserDesc+=1, currentUserDesc+=5);
				index = currentUserDesc + Number(imglen);				
				User.img = response.substr(currentUserDesc, imglen);
				
				var user_div = document.createElement('div');
				user_div.id = 'un' + User.id;
				user_div.style.cursor = 'Pointer';
				user_div.style.marginBottom = '10px';
				user_div.style.lineHeight = '40px';
				user_div.onclick = function()
				{					
					
					//({%url "user" 0%}).replace(/\d+/,User.id)
					
					var ajax_user = new Ajax(
						'/users/'+User.id + '/',  
						render_page);
					ajax_user.postData(User.id);	

					console.log(history.state);

					if (history.state){
						var stored_page = {};
						
						

						
						history.state.forEach(
							function(key){
							
								//alert(key);
								if(key=="dynamic_link"){
									var link = document.getElementById("dynamic_link");
									stored_page[key]=link.href;
								}
								else{
									var container = document.querySelector('.'+key);
									stored_page[key]=container.innerHTML;
								}
							}
						);
						
						stack.push(stored_page);
						
						history.pushState(['main','articles'],
							null,
							'/users/'+User.id+'/'); //replaceState
					}else{
						stack.push(
						{
						'main':document.querySelector('.main').innerHTML,
						'articles':document.querySelector('.articles').innerHTML
						});	

						history.pushState(null,null,'/users/'+User.id+'/'); //replaceState
					}		
					
				};				
				
				//user_div.style.borderBottom = '1px solid lightgray';
				user_div.style.whiteSpace = 'nowrap';
				user_div.style.lineHeight = '60px';
				user_div.className = 'friend_pick';
				
				var img = document.createElement('img');
				img.style.float = 'left';		
				img.style.borderRadius = '20px';
				img.style.margin = "10px 0 0 10px";
				user_div.appendChild(img);
				
				var username = document.createElement('span');
				username.innerText = User.username+'sgdgdgdfg';
				username.style.paddingLeft = '9%';				
				user_div.appendChild(username);
				
				var asd = document.querySelector('.aside_menu');
				asd.appendChild(user_div);
				img.src='data:image/jpeg;base64, '+ User.img; 				
			}
						
			//							
			
		});
		ajax.postData('id=0');
		
	}
{% endblock %}

{% block links %}

	<link rel="stylesheet" href="{% static 'aside.css' %}"> 
	<link rel="stylesheet" href="{% static 'detail.css' %}"> 
	{% for link in links %}

		<link id='dynamic_link' rel="stylesheet" href="{{link}}"> 
		
	{% endfor %}
	<script src="{% static 'js/detail.js' %}"></script>
	
{% endblock %}

{% block main %}

	<div class='detail' id='main'>
		{% block user %} Пользователь {% endblock %}		
		{% block articles %} Его статьи {% endblock %}	
	</div>
{% endblock %}

{% block aside %}
	
	<div class='aside' style='position:fixed;'>
		<aside>
			
			<div class='aside_menu'>
				<a href="{% url 'users'%}"><div class='aside_btn'>Все</div></a> 
				
				<!--остальные юзеры добавляются динамически-->
			</div>
			
			{% block aside_inside %}{% endblock %}
			
		</aside>
	</div>

{% endblock %}