{% extends "base.html" %}

{% load template_ex %}
{% load staticfiles %}

{% block title %}
	{{ header }}
{% endblock %}

{% block links %}
	<link rel="stylesheet" href="{% static 'user.css' %}">	
	{% if not profile.Image %}			
		<link rel="stylesheet" href="{% static 'f_user.css' %}">	
	{% endif %}
{% endblock %}

{% block style %}

	content{
		position:relative;		
		display:block;
	}{{ block.super }}
	
{% endblock %}


{% block content %}

	<content>
		<h1>{{ profile.first_name }} {{ profile.last_name }}</h1>			

		<main>
			<p class='atr'> {{ profile|field_name:'Age' }}: <span class='ab'> {{ profile.Age }}</span> </p>
			<p class='atr'> {{ profile|field_name:'City' }}: <span class='ab'> {{ profile.City }}</span> </p>
			<p class='atr'> {{ profile|field_name:'Sex' }}: <span class='ab'> {{ profile.Sex }}</span> </p>	
			<p class='atr'> 
				{% if profile.Image %}
					<img id='ava_0' src='				
						{# можно MEDIA_URL вместо url #}{{ profile.Image.url }}				
					'/> 
				{% else %}
					<!--<div class='default_ava'></div>-->
				{% endif %}
			</p>	
		</main>		
		
		<aside>
			 <a style="position:absolute;top:10px;right:30px;" href="{% url 'users'%}"><div class='btn'>Ко всем</div></a> 
		</aside>

		<article>
			{% if articles %}
				<h3>Записи:</h3>	
				
				<div style="border:1px solid gray">
					{% for article in articles %}
						<div class='Anote'>
							<h4 style='margin-top:5px'>{{article.Title}}</h4>
							<div>{{article.Content}}</div>
						</div>
					{% endfor %}
				</div>
				
			{%endif%}
		</article>
		
	</content>

{% endblock %}
